<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Phone number</dt>
      <dd><%= @user.phone_number %></dd>

      <dt>Education level</dt>
      <dd><%= @user.education_level %></dd>

      <dt>Is mentor</dt>
      <dd><%= @user.is_mentor %></dd>

      <dt>Name</dt>
      <dd><%= @user.name %></dd>

      <dt>Undergrad degree</dt>
      <dd><%= @user.undergrad_degree %></dd>

      <dt>Undergrad school</dt>
      <dd><%= @user.undergrad_school %></dd>

      <dt>Mba program</dt>
      <dd><%= @user.mba_program %></dd>

      <dt>Concentration</dt>
      <dd><%= @user.concentration %></dd>

      <dt>Full time employer</dt>
      <dd><%= @user.full_time_employer %></dd>

      <dt>Mentee capacity</dt>
      <dd><%= @user.mentee_capacity %></dd>

      <dt>Available start date</dt>
      <dd><%= @user.available_start_date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many mentorship_pairings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Mentorship Pairings
      </li>

      <% @user.mentorship_pairings.each do |mentorship_pairing| %>
        <li class="list-group-item">
          <a href="/mentorship_pairings/<%= mentorship_pairing.id %>">
            <%= mentorship_pairing.mentor_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/mentorship_pairings/<%= mentorship_pairing.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/mentorship_pairings/<%= mentorship_pairing.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_mentorship_pairing/<%= mentorship_pairing.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many mentees -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Mentees
      </li>

      <% @user.mentees.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many mentor -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Mentor
      </li>

      <% @user.mentor.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
