<div class="page-header">
  <h3>Mentorship Pairing #<%= @mentorship_pairing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Mentor</dt>
      <dd>
        <% if @mentorship_pairing.mentor.present? %>
          <a href="/users/<%= @mentorship_pairing.mentor_id %>">
            <%= @mentorship_pairing.mentor.email %>
          </a>
        <% end %>
      </dd>

      <dt>Mentee</dt>
      <dd>
        <% if @mentorship_pairing.user.present? %>
          <a href="/users/<%= @mentorship_pairing.mentee_id %>">
            <%= @mentorship_pairing.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/mentorship_pairings" class="btn btn-primary">
        Back
      </a>
      <a href="/mentorship_pairings/<%= @mentorship_pairing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mentorship_pairing/<%= @mentorship_pairing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
